---
rules:
  line-length:
    # Allow some of our longer URLs
    max: 95
    allow-non-breakable-words: yes           # Default
    allow-non-breakable-inline-mappings: no  # Default
  truthy: disable
